.editor{
    height: 1000px;
}

.editor h1{
padding: 2%;
}

.form-container{
    border:  1px blue solid;
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.form-editor{
    border:  1px red solid;
    margin: auto;
    width: 40%;
}
.form-diff{
    border:  1px red solid;
    margin: auto;
    width: 40%;
}

.value-displays{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.editor-buttons{
    margin: 1%;
}


.editor-buttons button{
    margin: .5%;
    font-size: 20px;
    padding: 1%;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
}
