.navigation {
    background-color: lightblue;
    font-family: "Raleway", sans-serif;
    height: 78px;
    flex: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  