.navigation {
    background-color: #2095f4;
    font-family: "Raleway", sans-serif;
    height: 78px;
    flex: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  
  
  .nav-links {
    display: flex;
    float: right;
    padding-right: 30%;
    font-size: 18px;
    padding-top: 5px;
  }
  
  .nav-links a {
    flex: 1;
    padding: 2%;
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: gray;
    transition: 1000ms;
  }
  
  .nav-brand {
    padding-left: 15vw;
    font-size: 3.5vh;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 3rem 0 0 15vw;
  }
  
  .nav-brand:hover {
    color: gray;
    transition: 1000ms;
  }
  
  .nav-objects {
    padding-top: 20px;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    color: white;
    cursor: pointer;
    padding: 1%;
    margin-left: 5%;
    border: none;
  }
  
  @media (max-width: 1220px) {
    .nav-brand {
      padding-left: 10vw;
    }
  
    .nav-links {
      padding-right: 20%;
    }
  }
  
  @media (max-width: 960px) {
    .nav-brand {
      padding-left: 3vw;
    }
  
    .nav-links {
      padding-right: 15%;
    }
  }
  
  @media (max-width: 820px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-brand {
      display: none;
    }
  
    .enabled .navigation {
      height: 32%;
    }
  
    .enabled .nav-links {
      float: left;
      padding-right: 0;
      padding-left: 5%;
      font-size: 18px;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
    }
  
    .enabled .nav-links a {
      padding-top: 10%;
    }
  
  
  }
  
  